<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzsjlw.site.dao.IssueDAO">
    <insert id="save">
        INSERT INTO article(title, author, content, views, category, state, create_time, type)
        VALUES (#{article.title},
                #{article.author},
                #{article.content},
                #{article.views},
                #{article.category},
                #{article.sate},
                NOW(),
                #{article.type})
    </insert>
</mapper>